$ds100:  #1F2041;
$ds75: rgba(31, 32, 65, 0.75);
$ds50: rgba(31, 32, 65, 0.5);
$ds25: rgba(31, 32, 65, 0.25);
$ds5: rgba(31, 32, 65, 0.05);
$purple: #BC9CFF;
$green: #6FCF97;
$primary-gradient: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
$box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
