// @font-face {
// 	font-family: 'Quicksand';
// 	src: url('../fonts/Quicksand.eot');
// 	src: local('☺'), url('../fonts/Quicksand.woff') format('woff'), url('../fonts/Quicksand.ttf') format('truetype'), url('../fonts/Quicksand.svg') format('svg');
// 	font-weight: normal;
// 	font-style: normal;
// }

html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: rgba(31, 32, 65, 0.75);
  margin: 0;
}
h1 {
  font-family: Quicksand;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  color: #1f2041;
  margin: 0;
}
h2 {
  font-family: Quicksand;
  font-style: normal;
  font-weight: bold;
  font-size: 19px;
  line-height: 24px;
  color: #1f2041;
  margin: 0;
}
h3 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #1f2041;
  margin: 0;
}
.logo {
  margin-top: 30px;
  margin-left: 30px;
  width: 48px;
  height: 48px;
  float: left;
}

/* Colors & Type */
/* Colors style start */
.colors-types {
  padding-left: 150px;
  padding-top: 145px;
  display: flex;
}
.colors-types__colors {
  margin-right: 427px;
}

.color__item {
  display: grid;
  grid-template-columns: 70px 160px;
  grid-column-gap: 40px;
  margin-bottom: 20px;
}
.colorbox {
  border-radius: 6px;
  height: 70px;
  width: 70px;
}

.color__name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #1f2041;
  font-family: Quicksand;
  font-size: 19px;
  line-height: 29px;
}

p.color__title {
  font-family: Quicksand;
  margin: 0;
  font-weight: bold;
}

p.color__name_name {
  font-family: Quicksand;
  font-weight: normal;
  margin: 0;
}

/* Colors style end */

/* types style start */

.colors-types__types {
  max-width: 403px;

}
.types__item {
  display: flex;

}

.types__item_name {
  color: rgba(31, 32, 65, 0.25);
  text-align: right;
  margin-right: 30px;
  width: 37px;
  margin-top: 0;
}
.types__item_desc {
  margin-bottom: 50px;
}
.types__item_h1 {
  line-height: 29px;
}

.types__item_h2 {
  font-family: Montserrat;
  line-height: 23px;
}



/* types style end */
