mixin color(title, code, name)
    .color__item
        .colorbox(style="background: " + (code))
        .color__name    
            p.color__title= title
            p.color__name_name= name

        
