mixin color(title, code, name)
    .color__item
        .colorbox(style="background: " + (code))
        .color__name    
            .color__title= title
            .color__name_name= name

        
