/* Colors & Type */
/* Colors style start */

.logo {
    margin-top: 30px;
    margin-left: 30px;
    width: 48px;
    height: 48px;
    float: left;
  }
  

.colors-types {
  padding-left: 150px;
  padding-top: 145px;
  display: flex;
  &__colors {
    margin-right: 427px;
  }
}


.color__item {
  display: grid;
  grid-template-columns: 70px 160px;
  grid-column-gap: 40px;
  margin-bottom: 20px;
}
.colorbox {
  border-radius: 6px;
  height: 70px;
  width: 70px;
}

.color__name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #1f2041;
  font-family: Quicksand Regular;
  font-size: 19px;
  line-height: 29px;
}

p.color__title {
  font-family: Quicksand Bold;
  margin: 0;
  font-weight: bold;
}

p.color__name_name {
  font-family: Quicksand Regular;
  font-weight: normal;
  margin: 0;
}

/* Colors style end */

/* types style start */

// .colors-types__types {
//   max-width: 403px;
// }
// .types__item {
//   display: flex;
// }

// .types__item_name {
//   color: rgba(31, 32, 65, 0.25);
//   text-align: right;
//   margin-right: 30px;
//   width: 37px;
//   margin-top: 0;
// }
// .types__item_desc {
//   margin-bottom: 50px;
// }
// .types__item_h1 {
//   line-height: 29px;
// }

// .types__item_h2 {
//   font-family: Montserrat Regular;
//   line-height: 23px;
// }

table {
    width: 403px;
    tr {
        display:block;
        padding-bottom: 50px;
    }
    td {
        padding-left: 30px;
        text-align: left;
        .header__title {
            @include ds25;
        }
    }
    td:first-child {
        width: 37px;
        padding-left: 0;
        text-align: right;
       
    }
    
}


/* types style end */
