
.forms__wrapper {
    margin-left: 141px;
}

.forms__row {


}
.forms__column {


}
.container_forms {
    width: 320px;
    height: 67px;
    margin-bottom: 18px;
    h3 {
        display: inline;
    };
    span {
        float: right;
        text-transform: uppercase;
        color: $ds50;
        font-size: 12px;
        line-height: 15px;
        padding-top: 2px;
    }
}

.text-field {
    background: #FFFFFF;
    border: 1px solid $ds25;
    border-radius: 4px;
    width: 320px;
    height: 44px;
    color: $ds25;
    padding-left: 15px;
    font-family: Montserrat;
    font-size: 14px;
    line-height: 18px;
    &:hover,&:focus {
        border: 1px solid $ds50;
        color: $ds75;
    
    }
}

.text-field-hover {
    border: 1px solid $ds50;
    color: $ds75;

}



.date-dropdown__examples  {
    display: flex;
    justify-content: space-between;
    width: 320px;
}
.date-dropdown {
    width: 150px;
}
.filter-date-dropdown {
    width: 266px;
}

.text-field-wrapper {
    position: relative;
    width: 267px;   
}
.subscription-text-field {
    padding-bottom: 100px;
    .text-field {
        width: 267px;
    }
}

.subscription-text-field__submit {
    font-family: 'Material Icons';
    position: absolute;
    bottom: 2px;
    right: 2px;
    width: 40px;
    height: 40px;
    background-color: #fff;
    cursor: pointer;
    font-size: 24px;
    line-height: 24px;
    color: $ds50;
    border: none;
}

.dropdown-rooms {
    width: 266px;
    margin-bottom: 20px;
}

.dropdown-rooms__expanded {
    
}